<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>coursesDjango.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>953EF7911E3281E700031ACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>953EF7A51E3281E700031ACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>953EF7B01E3281E700031ACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
